/*
  Name: 
    PDModule.css

  Authors: 
    Pardn Ltd 帕登國際有限公司 <mail@pardn.ltd>
    Pardn Chiu 邱敬幃 <chiuchingwei@icloud.com>

  Author URI: --

  Copyright: 
    pardn.ltd 帕登國際有限公司

  Licence: 
    本授權條款允許使用者重製、散布、傳輸以及修改著作，但不得為商業目的之使用。
    使用時必須按照著作人指定的方式表彰其姓名。

  Licence URI: --
*/
@import url("./fontawesome/css/all.css");