/*
  Name: 
    PDModule.css

  Authors: 
    Pardn Ltd 帕登國際有限公司 <mail@pardn.ltd>
    Pardn Chiu 邱敬幃 <chiuchingwei@icloud.com>

  Author URI: --

  Copyright: 
    pardn.ltd 帕登國際有限公司

  Licence: 
    本授權條款允許使用者重製、散布、傳輸以及修改著作，但不得為商業目的之使用。
    使用時必須按照著作人指定的方式表彰其姓名。

  Licence URI: --
*/
@import url("./fontawesome/css/all.css");
:root {
  @supports (padding-top: constant(safe-area-inset-top)) {
    --safe-top: constant(safe-area-inset-top);
  }
  @supports (padding-top: env(safe-area-inset-top)) {
    --safe-top: env(safe-area-inset-top);
  }
  @supports (padding-bottom: constant(safe-area-inset-bottom)) {
    --safe-bottom: constant(safe-area-inset-bottom);
  }
  @supports (padding-bottom: env(safe-area-inset-bottom)) {
    --safe-bottom: env(safe-area-inset-bottom);
  }
}
* {
  padding: 0;
  margin: 0;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
  // letter-spacing: 1.5px;
  text-decoration: none;
  color: #505050;
  list-style: none;
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
  -webkit-touch-callout: inherit;
  -webkit-user-select: inherit;
  -khtml-user-select: inherit;
  -moz-user-select: inherit;
  -ms-user-select: inherit;
  user-select: inherit;
}
html {
  width: 100vw;
  height: 100vh;
}
body {
  // position: fixed;
  // top: 0;
  // left: 0;
  // right: 0;
  // bottom: 0;
  // padding-top: constant(safe-area-inset-top);
  // padding-left: constant(safe-area-inset-left);
  // padding-right: constant(safe-area-inset-right);
  // padding-bottom: constant(safe-area-inset-bottom);
  width: 100%;
  height: 100%;
  // overflow: scroll;
  // overscroll-behavior: initial;
  // -webkit-overflow-scrolling: touch;
}

input,
textarea,
select,
button {
  border-radius: 0;
  border: none;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
}
.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.can-select {
  -webkit-touch-callout: initial;
  -webkit-user-select: initial;
  -khtml-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
}
ul.total {
  position: relative;
  margin-left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: var(--width-max);
  font-size: 0;
  > li {
    position: relative;
    display: inline-block;
    vertical-align: top;
    line-height: 3rem;
    height: 3rem;
    font-size: 0.875rem;
    font-weight: 600;
    text-align: center;
    overflow: hidden;
    > b {
      margin-left: 0.5rem;
    }
    &:nth-child(1) {
      width: 100%;
      line-height: 3rem;
      color: #fff;
      &.Pardn {
        background-color: rgb(30, 90, 140, 0.8);
      }
      &.Polly {
        background-color: rgba(30, 80, 0, 0.8);
      }
    }
    &:nth-child(2) {
      background-color: rgb(70, 130, 180, 0.4);
    }
    &:nth-child(3) {
      background-color: rgba(70, 120, 0, 0.4);
    }
  }
}
#pie {
  --bg-color: rgb(190, 230, 150);
  --val-color: rgb(150, 190, 230);
  --border-width: 20px;
  position: relative;
  display: block;
  margin-left: 50%;
  transform: translateX(-50%);
  width: 200px;
  height: 200px;
  background: linear-gradient(to right, var(--bg-color) 50%, var(--val-color) 0);
  border-radius: 50%;
  overflow: hidden;
  &[percent="1"] > div.mask { transform: rotate(calc(1.8deg)); }
  &[percent="2"] > div.mask { transform: rotate(calc(1.8deg * 2)); }
  &[percent="3"] > div.mask { transform: rotate(calc(1.8deg * 3)); }
  &[percent="4"] > div.mask { transform: rotate(calc(1.8deg * 4)); }
  &[percent="5"] > div.mask { transform: rotate(calc(1.8deg * 5)); }
  &[percent="6"] > div.mask { transform: rotate(calc(1.8deg * 6)); }
  &[percent="7"] > div.mask { transform: rotate(calc(1.8deg * 7)); }
  &[percent="8"] > div.mask { transform: rotate(calc(1.8deg * 8)); }
  &[percent="9"] > div.mask { transform: rotate(calc(1.8deg * 9)); }
  &[percent="10"] > div.mask { transform: rotate(calc(1.8deg * 10)); }
  &[percent="11"] > div.mask { transform: rotate(calc(1.8deg * 11)); }
  &[percent="12"] > div.mask { transform: rotate(calc(1.8deg * 12)); }
  &[percent="13"] > div.mask { transform: rotate(calc(1.8deg * 13)); }
  &[percent="14"] > div.mask { transform: rotate(calc(1.8deg * 14)); }
  &[percent="15"] > div.mask { transform: rotate(calc(1.8deg * 15)); }
  &[percent="16"] > div.mask { transform: rotate(calc(1.8deg * 16)); }
  &[percent="17"] > div.mask { transform: rotate(calc(1.8deg * 17)); }
  &[percent="18"] > div.mask { transform: rotate(calc(1.8deg * 18)); }
  &[percent="19"] > div.mask { transform: rotate(calc(1.8deg * 19)); }
  &[percent="20"] > div.mask { transform: rotate(calc(1.8deg * 20)); }
  &[percent="21"] > div.mask { transform: rotate(calc(1.8deg * 21)); }
  &[percent="22"] > div.mask { transform: rotate(calc(1.8deg * 22)); }
  &[percent="23"] > div.mask { transform: rotate(calc(1.8deg * 23)); }
  &[percent="24"] > div.mask { transform: rotate(calc(1.8deg * 24)); }
  &[percent="25"] > div.mask { transform: rotate(calc(1.8deg * 25)); }
  &[percent="26"] > div.mask { transform: rotate(calc(1.8deg * 26)); }
  &[percent="27"] > div.mask { transform: rotate(calc(1.8deg * 27)); }
  &[percent="28"] > div.mask { transform: rotate(calc(1.8deg * 28)); }
  &[percent="29"] > div.mask { transform: rotate(calc(1.8deg * 29)); }
  &[percent="30"] > div.mask { transform: rotate(calc(1.8deg * 30)); }
  &[percent="31"] > div.mask { transform: rotate(calc(1.8deg * 31)); }
  &[percent="32"] > div.mask { transform: rotate(calc(1.8deg * 32)); }
  &[percent="33"] > div.mask { transform: rotate(calc(1.8deg * 33)); }
  &[percent="34"] > div.mask { transform: rotate(calc(1.8deg * 34)); }
  &[percent="35"] > div.mask { transform: rotate(calc(1.8deg * 35)); }
  &[percent="36"] > div.mask { transform: rotate(calc(1.8deg * 36)); }
  &[percent="37"] > div.mask { transform: rotate(calc(1.8deg * 37)); }
  &[percent="38"] > div.mask { transform: rotate(calc(1.8deg * 38)); }
  &[percent="39"] > div.mask { transform: rotate(calc(1.8deg * 39)); }
  &[percent="40"] > div.mask { transform: rotate(calc(1.8deg * 40)); }
  &[percent="41"] > div.mask { transform: rotate(calc(1.8deg * 41)); }
  &[percent="42"] > div.mask { transform: rotate(calc(1.8deg * 42)); }
  &[percent="43"] > div.mask { transform: rotate(calc(1.8deg * 43)); }
  &[percent="44"] > div.mask { transform: rotate(calc(1.8deg * 44)); }
  &[percent="45"] > div.mask { transform: rotate(calc(1.8deg * 45)); }
  &[percent="46"] > div.mask { transform: rotate(calc(1.8deg * 46)); }
  &[percent="47"] > div.mask { transform: rotate(calc(1.8deg * 47)); }
  &[percent="48"] > div.mask { transform: rotate(calc(1.8deg * 48)); }
  &[percent="49"] > div.mask { transform: rotate(calc(1.8deg * 49)); }
  &[percent="50"] > div.mask { transform: rotate(calc(1.8deg * 50)); }
  &[percent="51"] > div.mask { transform: rotate(calc(1.8deg * 51)); }
  &[percent="52"] > div.mask { transform: rotate(calc(1.8deg * 52)); }
  &[percent="53"] > div.mask { transform: rotate(calc(1.8deg * 53)); }
  &[percent="54"] > div.mask { transform: rotate(calc(1.8deg * 54)); }
  &[percent="55"] > div.mask { transform: rotate(calc(1.8deg * 55)); }
  &[percent="56"] > div.mask { transform: rotate(calc(1.8deg * 56)); }
  &[percent="57"] > div.mask { transform: rotate(calc(1.8deg * 57)); }
  &[percent="58"] > div.mask { transform: rotate(calc(1.8deg * 58)); }
  &[percent="59"] > div.mask { transform: rotate(calc(1.8deg * 59)); }
  &[percent="60"] > div.mask { transform: rotate(calc(1.8deg * 60)); }
  &[percent="61"] > div.mask { transform: rotate(calc(1.8deg * 61)); }
  &[percent="62"] > div.mask { transform: rotate(calc(1.8deg * 62)); }
  &[percent="63"] > div.mask { transform: rotate(calc(1.8deg * 63)); }
  &[percent="64"] > div.mask { transform: rotate(calc(1.8deg * 64)); }
  &[percent="65"] > div.mask { transform: rotate(calc(1.8deg * 65)); }
  &[percent="66"] > div.mask { transform: rotate(calc(1.8deg * 66)); }
  &[percent="67"] > div.mask { transform: rotate(calc(1.8deg * 67)); }
  &[percent="68"] > div.mask { transform: rotate(calc(1.8deg * 68)); }
  &[percent="69"] > div.mask { transform: rotate(calc(1.8deg * 69)); }
  &[percent="70"] > div.mask { transform: rotate(calc(1.8deg * 70)); }
  &[percent="71"] > div.mask { transform: rotate(calc(1.8deg * 71)); }
  &[percent="72"] > div.mask { transform: rotate(calc(1.8deg * 72)); }
  &[percent="73"] > div.mask { transform: rotate(calc(1.8deg * 73)); }
  &[percent="74"] > div.mask { transform: rotate(calc(1.8deg * 74)); }
  &[percent="75"] > div.mask { transform: rotate(calc(1.8deg * 75)); }
  &[percent="76"] > div.mask { transform: rotate(calc(1.8deg * 76)); }
  &[percent="77"] > div.mask { transform: rotate(calc(1.8deg * 77)); }
  &[percent="78"] > div.mask { transform: rotate(calc(1.8deg * 78)); }
  &[percent="79"] > div.mask { transform: rotate(calc(1.8deg * 79)); }
  &[percent="80"] > div.mask { transform: rotate(calc(1.8deg * 80)); }
  &[percent="81"] > div.mask { transform: rotate(calc(1.8deg * 81)); }
  &[percent="82"] > div.mask { transform: rotate(calc(1.8deg * 82)); }
  &[percent="83"] > div.mask { transform: rotate(calc(1.8deg * 83)); }
  &[percent="84"] > div.mask { transform: rotate(calc(1.8deg * 84)); }
  &[percent="85"] > div.mask { transform: rotate(calc(1.8deg * 85)); }
  &[percent="86"] > div.mask { transform: rotate(calc(1.8deg * 86)); }
  &[percent="87"] > div.mask { transform: rotate(calc(1.8deg * 87)); }
  &[percent="88"] > div.mask { transform: rotate(calc(1.8deg * 88)); }
  &[percent="89"] > div.mask { transform: rotate(calc(1.8deg * 89)); }
  &[percent="90"] > div.mask { transform: rotate(calc(1.8deg * 90)); }
  &[percent="91"] > div.mask { transform: rotate(calc(1.8deg * 91)); }
  &[percent="92"] > div.mask { transform: rotate(calc(1.8deg * 92)); }
  &[percent="93"] > div.mask { transform: rotate(calc(1.8deg * 93)); }
  &[percent="94"] > div.mask { transform: rotate(calc(1.8deg * 94)); }
  &[percent="95"] > div.mask { transform: rotate(calc(1.8deg * 95)); }
  &[percent="96"] > div.mask { transform: rotate(calc(1.8deg * 96)); }
  &[percent="97"] > div.mask { transform: rotate(calc(1.8deg * 97)); }
  &[percent="98"] > div.mask { transform: rotate(calc(1.8deg * 98)); }
  &[percent="99"] > div.mask { transform: rotate(calc(1.8deg * 99)); }
  &[percent="100"] > div.mask { transform: rotate(calc(1.8deg * 100)); }
  > div.mask {
    position: relative;
    display: block;
    margin-left: 50%;
    height: 100%;
    background-color: var(--val-color);
    transform-origin: left;
    overflow: hidden;
    &::after {
      content: '';
      position: relative;
      display: block;
      height: 100%;
      background-color: var(--bg-color);
      transform-origin: left;
      transform: inherit;
    }
  }
  > div.body {
    position: absolute;
    display: block;
    top: var(--border-width);
    left: var(--border-width);
    bottom: var(--border-width);
    right: var(--border-width);
    width: calc(100% - var(--border-width) * 2);
    height: calc(100% - var(--border-width) * 2);
    background-color: #fff;
    border-radius: 50%;
    > ul {
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: initial;
      height: initial;
      > li {
        position: relative;
        margin-top: 0.5rem;
        width: initial;
        height: initial;
        font-size: 0.875rem;
        &:nth-child(1) {
          text-align: center;
        }
        > b {
          margin-left: 0.5rem;
          font-weight: 500;
        }
      }
    }
  }
}
ul.month {
  position: relative;
  margin-left: 50%;
  padding-bottom: calc(3rem + 2rem + var(--safe-bottom));
  transform: translateX(-50%);
  width: 100%;
  max-width: var(--width-max);
  > li {
    position: relative;
    padding: 1rem 0;
    width: 100%;
    height: initial;
    &.show {
      > h6 > i {
        transform: rotate(90deg);
      }
      > ul.date {
        display: block;
      }
    }
    > h6 {
      position: relative;
      padding: 0 1rem;
      width: 100%;
      line-height: 2rem;
      font-size: 1.5rem;
      > i {
        line-height: 2rem;
        font-size: 1.25rem;
      }
    }
    > ul.pie {
      position: relative;
      padding-top: 0.5rem;
      padding-left: 1rem;
      padding-bottom: 0.5rem;
      width: 100%;
      height: initial;
      font-size: 0;
      > li {
        position: relative;
        display: inline-block;
        vertical-align: top;
        margin-top: 0.5rem;
        margin-right: 0.5rem;
        padding: 0.5rem;
        font-size: 0.75rem;
        background-color: rgba(0, 0, 0, 0.4);
        color: #fff;
        border-radius: 0.5rem;
      }
    }
    > ul.date {
      position: relative;
      display: none;
      width: 100%;
      height: initial;
      > li {
        position: relative;
        padding: 0.5rem 0;
        width: 100%;
        height: initial;
        border-bottom: 1px solid rgba(0,0,0,0.05);
        &.dismiss {
          opacity: 0.2;
          > ul > button {
            display: none;
          }
        }
        > ul {
          position: relative;
          width: 100%;
          height: initial;
          font-size: 0;
          > li {
            position: relative;
            display: inline-block;
            vertical-align: top;
            padding: 0 1rem;
            line-height: 1.5rem;
            font-size: 1rem;
            font-weight: 600;
            border-right: 1px solid rgba(0,0,0,0.1);
            &:nth-last-child(2) {
              border-right: none;
            }
            @media screen and (max-width: 639px) {
              &:nth-last-child(2) {
                width: 100%;
                text-align: left;
              }
              &:nth-last-child(3) {
                border-right: none;
              }
            }
          }
          > button {
            position: absolute;
            top: 50%;
            right: 1rem;
            transform: translateY(-50%);
            padding: 0.25rem 0.5rem;
            width: initial;
            height: initial;
            font-size: 0.875rem;
            background-color: coral;
            color: #fff;
            border-radius: 0.25rem;
          }
        }
      }
    }
  }
}
ul.tab {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  padding-bottom: var(--safe-bottom);
  width: 100%;
  height: initial;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
  &[column="0"] { display: none; }
  &[column="1"] > li { width: 100%; }
  &[column="2"] > li { width: 50%; }
  &[column="3"] > li { width: calc(100% / 3); }
  &[column="4"] > li { width: 25%; }
  &[column="5"] > li { width: 20%; }
  &[column="6"] > li { width: calc(100% / 6); }
  &[column="7"] > li { width: calc(100% / 7); }
  &[column="8"] > li { width: 12.5%; }
  &[column="9"] > li { width: calc(100% / 9); }
  &[column="10"] > li { width: 10%; }
  > li {
    position: relative;
    display: inline-block;
    vertical-align: top;
    min-width: 80px;
    line-height: 3rem;
    font-size: 1.25rem;
    font-style: 600;
    text-align: center;
    &.selected {
      color: coral;
    }
  }
}